<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="detail">

    <div class="container">
        <div id="detailPanel" style="display:none;">
            <div class="myDetail">
                <input type="hidden" id="shopId">
                <div style="width:100%; height: 230px">
                    <a href="#"><img id="shopImg" src="" style="width: 100%; height: 100%"></a>
                </div>
                <div style="background-color: #f05f40; height: 100px; color:white">
                    <h4 id="name"></h4>
                    <div style="font-size: 13px">
                        <span id="rating"></span>
                        리뷰 <span id="reviewTotal"></span>개

                        <span id="shopType" style="float: right;"></span>
                    </div>
                    <span id="shopFilters"></span>
                </div>
                <div>
                    <p id="content"/>
                </div>
                주소
                <p id="address" style="font-size: 12px;"/>
                <div>
                    <input type="button" onclick="writeReview()"
                            value="리뷰 작성"></inputbutton>
                </div>
            </div>
            <button id="detailBtn" class="widget-pane-toggle-button"> <</button>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $("#detailBtn").click(function () {
                $("#detailPanel").animate({
                    width: "toggle"
                });
            });
        });


        function showDetail(shop) {
            document.getElementById("detailPanel").style.display = "block";
            document.getElementById("shopId").value = shop.id;
            document.getElementById("name").innerHTML = shop.name;
            document.getElementById("shopType").innerHTML = shop.type;
            document.getElementById("address").innerHTML = shop.address;
            document.getElementById("content").innerHTML = shop.content;
            document.getElementById("rating").innerHTML = shop.rating.toFixed(1);
            document.getElementById("reviewTotal").innerHTML = shop.reviewTotal;
            let tags = "";
            shop.tags.map(function (tag) {
                tags += '#' + tag.name + ' ';
            });
            document.getElementById("shopFilters").innerHTML = tags;


            let shopImg = document.getElementById("shopImg");
            if (shop.shopImage != null)
                shopImg.src = "/imgFile" + shop.shopImage.path + "/" + shop.shopImage.savedName;
            else
                shopImg.src = "http://placehold.it/700x400";

        }

        function writeReview(){
            let shopId = document.getElementById("shopId").value
            window.open("/reviews?shopId="+shopId,"리뷰 작성","width=500, height=500, toolbar=no, menubar=no, scrollbars=no, resizable=yes");
        }
    </script>

</th:block>
</html>