<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="tag">

    <form method="GET" th:action="@{/shops}">
        <div style="position:fixed; z-index:2000; top:20px; right: 0; ">
            <th:block th:if="${map_toggle}">
                <button type="submit" onclick="changeView(false); return true;">게시글</button>
            </th:block>
            <th:block th:unless="${map_toggle}">
                <button type="submit" onclick="changeView(true); return true;">Map</button>
            </th:block>
        </div>
        <input type="hidden" id="map_toggle" name="map_toggle" th:value="${map_toggle}">

        <div style="position:fixed; z-index: 1030; right: 0px; top:100px;">
            <div id="panel" style="display: none; background-color: #f05f40">
                <h3>타입</h3>
                <label><input type="checkbox" name="types" value="식당"
                              th:checked="${#lists.contains(types, '식당')}">식당</label>
                <label><input type="checkbox" name="types" value="카페"
                              th:checked="${#lists.contains(types, '카페')}">카페</label>
                <label><input type="checkbox" name="types" value="펍"
                              th:checked="${#lists.contains(types, '펍')}">펍</label>
                <label><input type="checkbox" name="types" value="마사지" th:checked="${#lists.contains(types, '마사지')}">마사지</label>

                <h3>태그</h3>
                <div>
                    <tr th:each="tag : ${tags}">
                        <label th:value="tag"><input type="checkbox" name="tags" th:value="${tag.name}"
                                                        th:checked="${tag.checked}">
                            <th:block th:text="${tag.name}"></th:block>
                        </label>
                    </tr>
                </div>
                <input type="submit" class="btn btn-primary" style="background-color: #28a745;"  value="검색">
            </div>
            <!--panel-->
            <input id="tagBtn" class="btn btn-primary" type="button" style="float:right" value="태그">

            <div sec:authorize="hasRole('USER')">
            <input class="btn btn-primary" type="button" onclick="location.href='/shops/edit'"; style="float:right" value="Shop등록">
            </div>
        </div>
    </form>

    <script>
        function changeView(toggle){
          document.getElementById("map_toggle").value=toggle;
        }

        $(document).ready(function () {
            $("#tagBtn").click(function () {
                $("#panel").slideToggle("slow");
            });
        });
    </script>
</th:block>

</html>