<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>


<div class="container">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <div class="jumbotron" style="padding-top: 20px;">

            <form method="post" id="signUp" name="signUp" onsubmit="return checkForm()"  th:object="${member}" th:action="@{/members}">

                <h3 style="text-align: center;">회원가입 화면</h3>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="이메일" name="email" maxlength="30">
                </div>
                <div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="닉네임" name="nickname" maxlength="20">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="비밀번호" name="password"
                               maxlength="20">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="비밀번호확인" name="passwordCheck"
                               maxlength="20">
                        <div id="checkPwd"></div>
                    </div>
                    <div class="form-group">
                        <label><input type="radio" value="female" name="gender" required> 남자</label>
                        <label><input type="radio" value="male" name="gender"> 여자</label>
                        <label><input type="radio" value="other" name="gender"> 기타</label>
                    </div>
                    <div>
                        <input type="submit" class="btn btn-primary form-control" value="회원가입">
                    </div>
                    <div>
                        <input type="button" onclick="location.href='/'" class="btn btn-default form-control"
                               value="취소">
                    </div>
            </form>

        </div>
    </div>
</div>


<script src="/js/bootstrap.js"></script>
<script type="text/javascript" src="httpRequest.js"></script>

</body>
</html>