<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>치앙마이</title>
    <!--<th:block th:include="fragments/head :: head"></th:block>-->
</head>

<body>

<header>
    <th:block th:include="fragments/nav :: nav"></th:block>
    <h1>My website</h1>
</header>

<section layout:fragment="app-content">
    <p>Common layout:fragment app-content section > p</p>
</section>


<!--<th:block th:include="fragments/footer :: head"></th:block>-->

</body>
</html>