<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="POST" name="shop" th:action="@{/shops/edit}" enctype="multipart/form-data">
    <input type="hidden" name="memberId" th:value="${#authentication.principal.id}">

    name <input type="text" placeholder="Google restaurant" name="name" required><br>
    address <input type="text" name="address" required> <br>
    type <select name="type"> <br>
    <option value="식당">식당</option>
    <option value="카페">카페</option>
    <option value="마사지">마사지</option>
    <option value="펍">펍</option>
    </select> <br>
    lat <input type="text" name="lat"> <br>
    lng <input type="text" name="lng"> <br>
    phone <input type="tel" name="phone"> <br>
    open <input type="number" name="open" min="0" max="24"> <br>
    close <input type="number" name="close" min="0" max="24"> <br>
    content <textarea maxlength="300" name="content"></textarea> <br>

    images <input id="multipleFileUploadInput" type="file" name="images" class="file-input" multiple/> <br>
    <input type="submit" value="글쓰기">
    <input type="button" value="취소" onclick="location.href='/'">

</form>


</body>
</html>

