<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="filter">

    <form method="GET" th:action="@{/shops}">
        <div style="position:fixed; z-index:2000; top:20px; right: 0; ">
            <th:block th:if="${map_toggle}">
                <button type="submit" onclick="changeView(false); return true;">게시글</button>
            </th:block>
            <th:block th:unless="${map_toggle}">
                <button type="submit" onclick="changeView(true); return true;">Map</button>
            </th:block>
        </div>
        <input type="hidden" id="map_toggle" name="map_toggle" th:value="${map_toggle}">

        <div style="position:fixed; z-index: 1030; right: 0px; top:100px;">
            <div id="panel" style="display: none; background-color: #f05f40">
                <h3>타입</h3>
                <label><input type="checkbox" name="types" value="식당"
                              th:checked="${#lists.contains(types, '식당')}">식당</label>
                <label><input type="checkbox" name="types" value="카페"
                              th:checked="${#lists.contains(types, '카페')}">카페</label>
                <label><input type="checkbox" name="types" value="펍"
                              th:checked="${#lists.contains(types, '펍')}">펍</label>
                <label><input type="checkbox" name="types" value="마사지" th:checked="${#lists.contains(types, '마사지')}">마사지</label>

                <h3>필터</h3>
                <div>
                    <tr th:each="filter : ${filters}">
                        <label th:value="filter"><input type="checkbox" name="filters" th:value="${filter.name}"
                                                        th:checked="${filter.checked}">
                            <th:block th:text="${filter.name}"></th:block>
                        </label>
                    </tr>
                </div>
                <input type="submit" class="btn btn-primary" value="검색">
            </div>
            <!--panel-->
            <input id="filterBtn" class="btn btn-primary" type="button" style="float:right" value="필터">
        </div>
    </form>

    <script>
        function changeView(toggle){
          document.getElementById("map_toggle").value=toggle;
        }

        $(document).ready(function () {
            $("#filterBtn").click(function () {
                $("#panel").slideToggle("slow");
            });
        });
    </script>
</th:block>

</html>