<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<section layout:fragment="app-content">

    <th:block th:include="members/shops/filter :: filter"></th:block>

    <!-- Page Content -->
    <div class="container">
        <!-- Page Heading -->
        <h1 class="my-4">리스트</h1>

        <div class="row">
            <tr th:each="shop : ${shops}">
                <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">
                                    <th:block th:text="${shop.name}"></th:block>
                                </a>
                            </h4>
                            <p class="card-text">
                                <th:block th:text="${shop.address}"/>
                                <th:block th:text="${shop.rating}"/>
                            </p>
                            <th:block th:text="${shop.content}"/>
                        </div>
                    </div>
                </div>
            </tr>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <script>
        $(document).ready(function () {
            $("#filterBtn").click(function () {
                $("#panel").slideToggle("slow");
            });
        });

    </script>

</section>


</html>