<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="GET" th:action="@{/shops}">
    <h3>타입</h3><br>
    <label><input type="checkbox" name="types" value="식당">식당</label>
    <label><input type="checkbox" name="types" value="카페">카페</label>
    <label><input type="checkbox" name="types" value="마사지">마사지</label>

    <h3>필터</h3>
    <div th:each="filter : ${filters}">
        <label th:value="filter"><input type="checkbox" name="filters" th:value="${filter}"></label>
    </div>

    <input type="submit" value="검색">
</form>

<section layout:fragment="app-content">
    <table>
        <tr>
            <th>이름</th>
            <th>주소</th>
            <th>별점</th>
            <th>타입</th>
        </tr>
        <tr th:each="shop : ${shops}">
            <td th:text="${shop.name}"></td>
            <td th:text="${shop.address}"></td>
            <td th:text="${shop.rating}"></td>
            <td th:text="${shop.type}"></td>
        </tr>
    </table>
</section>
</body>
</html>