<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<section layout:fragment="app-content" style="padding: 0">
    <link href="css/shop.css" rel="stylesheet">

    <th:block th:include="members/shops/filter :: filter"></th:block>
    <th:block th:include="members/shops/detail :: detail"></th:block>

    <style>
        #map {
            position: fixed !important;
            height: 100%; /* The height is 400 pixels */
            width: 100%; /* The width is the width of the web page */
        }
    </style>

    <div id="map"></div>


    <script th:inline="javascript">
        /*<![CDATA[*/
        let shops = [[${shops}]].content;
        console.log(shops);

        // Initialize and add the map
        function initMap() {
            var map = new google.maps.Map(
                document.getElementById('map'), {zoom: 15, center: {lat: 18.791664, lng: 98.984523}});

            //Create and open InfoWindow.
            var infoWindow = new google.maps.InfoWindow();


            let markers = shops.map(function (shop, i) {
                const iconImg = {
                    url: '/img/map-'+shop.type+'.png',
                    // size: new google.maps.Size(20, 32),
                    // origin: new google.maps.Point(0, 0),
                    // anchor: new google.maps.Point(0, 32)
                };

                let marker = new google.maps.Marker({
                    position: new google.maps.LatLng(shop.lat, shop.lng),
                    icon: iconImg,
                    map: map
                });

                marker.addListener('click', function() {
                    // window.location="/shops/"+shop.id;
                    // map.setCenter(marker.getPosition());
                    $.ajax({
                        url: '/shops/'+shop.id,
                        method: 'GET',
                        success: function (shop) {
                            showDetail(shop);
                        },
                        error: function (response) {
                            alert("에러");
                        }
                    });
                });
                return marker;
            });

            // var markerCluster = new MarkerClusterer(map, markers,
            //     {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
            /*]]>*/

        }
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3z7CUrUC7YG9JYcnhsUWmYaGr_OGUEPc&callback=initMap">
    </script>


</section>


</html>