<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="POST" name="shop" action="/admin/shops" enctype="multipart/form-data">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

    name <input type="text" placeholder="Google restaurant" name="name" required><br>
    address <input type="text" name="address" required> <br>
    type <select name="type"> <br>
    <option value="restaurant">restaurant</option>
    <option value="cafe">cafe</option>
    <option value="massage">massage</option>
        </select> <br>
    phone <input type="tel" name="phone"> <br>
    open <input type="number" name="open" min="0" max="24"> <br>
    close <input type="number" name="close" min="0" max="24"> <br>
    content <textarea maxlength="300" name="content"></textarea> <br>

    images <input id="multipleFileUploadInput" type="file" name="files" class="file-input" multiple/> <br>
    <input type="submit" value="글쓰기">
    <input type="button" value="취소" onclick="location.href='/'">

</form>


</body>
</html>

